/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

body {
    font-family: 'JetBrains Mono', system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #eee;
    font-size: 0.875rem;
    line-height: 1.375rem;
    cursor: url("data:image/svg+xml,%3Csvg height='6' width='6' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='%23eee' r='4'/%3E%3C/svg%3E") 3 3, auto;
    margin: 0;
    background-color: #000000;
}

.audio {
    position: absolute;
    z-index: -9999;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    cursor: none;
    width: 100%;
    height: 100%;
}

section {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: #000000;
}

a.link:hover {
    stroke: #b55400;
}

a.link:hover .move-up {
    transform: translateY(-16px);
}

a.link:hover .move-right {
    transform: translateX(10px);
}

a.link:hover .move-down {
    transform: translateY(16px);
}

a.link:hover .move-left {
    transform: translateX(-10px);
}

a.link:hover .move-up-little {
    transform: translateY(-4px);
}

a.link:hover .move-up-medium {
    transform: translateY(-6px);
}

a.link:hover .turn-90 {
    transform: rotate(90deg);
}

a.link:hover .turn-15 {
    transform: rotate(15deg);
}

.container {
    position: relative;
    max-width: auto;
    margin: auto;
    margin-top: 4rem;
    padding: 1rem;
    border: 1px solid #393e46;
    border-radius: 0.25rem;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

html:not(html:hover) .cursor::after {
    opacity: 0;
    transform: scale(0);
}