@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

body {
    font-family: 'JetBrains Mono', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #131b21;
}

#text {
    text-align: center;
    align-content: center;
    color: #ffffff;
}

#textsmall {
    text-align: center;
    align-content: center;
    color: #ffffff;
    font-size: 20px;
}

h3,
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    text-align: center;
    align-content: center;
    color: #ffffff;
}

.time {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn, .box {
    width: 180px;
    height: 30px;
    border: none;
    position: absolute;
    top: 50%;
    outline: none;
    color: #fff;
    text-align: center;
    background: rgb(0, 150, 255);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}