*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font:bold 14px Aria,sans-serif;
}

html {
    height: 100%;
    background: white;
    background: radial-gradient(circle, #fff 20%, #ccc);
    background-size: cover;
}

#calculator {
    width: 325px;
    height: auto;
    margin: 100px auto;
    padding: 20px 20px 9PX;
    background: #9dd2ea;
    background: linear-gradient(#9dd2ea, #8bceec);
    border-radius: 3px;
    box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0,0,0,0.2);
}

#screen {
    float: right;
    height: 40px;
    width: 212px;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
    font-size: 17px;
    line-height: 40px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
    letter-spacing: 1px;
}

.keys, .top {
    overflow: hidden;
}

.keys span, #clear {
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    width: 66px;
    height: 36px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    color: #888;
    line-height: 36px;
    text-align: center;
    user-select: none;
    transition: all 0.2s ease;
}

.keys span.operator {
    background: #FFF0F5;
    margin-right: 0; 
}

.keys span.eval {
    background: #f1ff92;
    box-shadow: 0px 4px #9da853;
    color: #888e5f;
}

.keys span.eval:hover {
    background: #abb850;
    box-shadow: 0px 4px #717a33;
    color: #ffffff;
}

.keys span.eval:active {
    box-shadow: 0px 0px #717a33;
    top: 4px;
}

#clear {
    background: #ff9fa8;
    box-shadow: 0px 4px #ff7c87;
    color: white;
}

#clear:hover {
    background: #f68991;
    box-shadow: 0px 4px #d3545d;
    color: white;
}

#clear:active {
    top: 4px;
    box-shadow: 0px 0px #d3545d;
}

.keys span:hover {
    background: #9c89f6;
    box-shadow: 0px 4px #6b54d3;
    color: white;
}

.keys span:active {
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
}
