@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*nav bar*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
    color: #f5f5f5;
}

body {
    background: url(res/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
}

#nav_bar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: #2e2e2e;
    z-index: 100;
}

.nav_link, #dis_btn {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

#berry_logo {
    cursor: pointer;
}

#nav_tabs {
    list-style: none;
}

#nav_tabs li {
    display: inline-block;
    padding: 0px 20px;
}

#nav_tabs a:hover {
    color: #0088a9;
}

#dis_btn {
    padding: 9px 29px;
    background-color: #3399ff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#dis_btn:hover {
    background-color: #0088a9;
}

/*Wlcome Panel*/

#wel_panel {
    text-align: center;
    padding: 75px 0px 75px 0px;
    align-content: center;
    font-size: 25px;
    background-color: rgba(0.0, 0.0, 0.0, 0.3);
}

#emf {
    padding-top: 10px;
    font-size: 16px;
}

/*Go to Download Page*/

#go2down {
    padding: 75px 0px 75px 0px;
    text-align: center;
    background-color: rgba(0.0, 0.0, 0.0, 0.3);
    font-size: 25px;
}

#go2down p {
    padding-top: 10px;
}

#idk_lol {
    font-size: 20px;
}

#go2down_btn {
    padding: 15px 20px;
    background-color: #00cc45;
    border: none;
    border-radius: 20px;
}

/*Footer*/

footer {
    margin-top: auto;
    padding: 10px 0px 10px 0px;
    background-color: #24252a;
    text-align: center;
}

footer p {
    font-size: 16px;
    font-family: Montserrat;
    padding: 5px;
}

footer a {
    padding-right: 10px;
}

/* how to skip ads */

#howto {
    text-align: center;
    background-color: rgba(0.0, 0.0, 0.0, 0.3);
    padding: 60px 0px 75px 0px;
}

#howto p {
    padding: 5px 0px 5px 0px;
}

/* Download Links */

#mcaddon_download {
    padding: 75px 0px 75px 0px;
    text-align: center;
    background-color: rgba(0.0, 0.0, 0.0, 0.3);
}

#mcaddon_download p {
    padding: 10px 0px 10px 0px
}

.download_btn {
    padding: 15px 50px;
    background-color: #00cc45;
    border: none;
    border-radius: 20px;
}

/*Shop*/

#shop_div {
    text-align: center;
    background-color: rgba(0.0, 0.0, 0.0, 0.3);
    padding: 25px 0px 25px 0px;
}

.shop_item {
    background-color: rgba(200, 200, 200, 0.3);
    text-align: center;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0.0, 0.0, 0.0, 0.5);
    display: inline-block;
    margin: 10px;
    backdrop-filter: blur(5px);
}

.by {
    color: black;
    padding: 10px 0px 10px 0px;
}

.item_name {
    color: black;
}

.item_img {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 5px;
    border-radius: 5px;
}

.shop_d_button {
    padding: 15px 30px;
    background-color: #00cc45;
    border: none;
    border-radius: 20px;
}

.his_link {
    color: purple;
}

.other_link {
    color: green;
}

.by_s {
    color: #8934eb;
    padding: 10px 0px 10px 0px;
}

#note {
    color: red;
    font-size: 15px;
}
